<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>PoppinsLatin-Bold.otf</string>
		<string>PoppinsLatin-ExtraBold.ttf</string>
		<string>PoppinsLatin-ExtraLight.otf</string>
		<string>PoppinsLatin-Light.otf</string>
		<string>PoppinsLatin-Medium.otf</string>
		<string>PoppinsLatin-Regular.ttf</string>
		<string>Arbutus-Regular.ttf</string>
		<string>Butcherman-Regular.ttf</string>
		<string>Chewy-Regular.ttf</string>
		<string>ConcertOne-Regular.ttf</string>
		<string>Fruktur-Regular.ttf</string>
		<string>LeckerliOne-Regular.ttf</string>
		<string>Lemonada-Bold.ttf</string>
		<string>Piedra-Regular.ttf</string>
		<string>RussoOne-Regular.ttf</string>
		<string>SpicyRice-Regular.ttf</string>
		<string>WendyOne-Regular.ttf</string>
		<string>VAGRoundedNext-Black.otf</string>
	</array>
</dict>
</plist>
